
.contactGroupContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 40%;

  background-color: #131c21;
  height: 100%;
  overflow: hidden;
}

.resizeView {
  display: block;
  overflow:hidden;
  overflow-y:scroll;
  height: calc(100vh - 197px);
}

@media (min-width: 1440px) {
  .resizeView {
    height: calc(100vh - 235px);
  }
}