.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 60%;
  //background-color: #0d1418;
  background-color: #262d31;
}

@media (min-width: 900px) {
  .sidebar {
    flex: 65%;
  }
}

@media (min-width: 1300px) {
  .sidebar {
    flex: 70%;
  }
}

.nav {
  height: 59px;
  background-color: #2a2f32;
}

.box {
  opacity: 0.1;
  height: 1000px;
  background-image: url("./comics.png");
  background-repeat: repeat-x;
}

.input {
  height: 62px;
  background-color: #1e2428;
}