.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 60%;
  background-color: #0d1418;
  //background-color: #262d31;
}

@media (min-width: 900px) {
  .mainContainer {
    flex: 65%;
  }
}

@media (min-width: 1300px) {
  .mainContainer {
    flex: 70%;
  }
}