

.form {
  position: relative;
  box-sizing: border-box;
  flex: none;

  height: 49px;
  border-bottom: 1px solid #242d32;
  background-color: #131c21;
  transition: box-shadow .18s ease-out,background-color .25s ease-out;
}

.form_button {
  position: absolute;
  top: 12px;
  z-index: 100;
  width: 24px;
  height: 24px;

  left: 24px;

  outline: none;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;

  .form_search {
    //opacity: 0;
    color: #73787b;

    width: 24px;
    height: 24px;
  }
}

.form_initText {
  position: absolute;
  top:13px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  z-index: 100;

  right: 24px;
  left: 77px;

  color: #f1f1f26e;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form_box {
  position: absolute;
  display: flex;
  height: 35px;
  top: 7px;
  box-sizing: border-box;
  align-items: center;

  right: 14px;
  left: 12px;
  padding-right: 32px;
  padding-left: 65px;
  border-radius: 18px;

  background-color: #323739;
}