.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 40%;
  background-color: #131c21;
}

@media (min-width: 900px) {
  .sidebar {
    flex: 35%;
  }
}

@media (min-width: 1300px) {
  .sidebar {
    flex: 30%;
  }
}