.notification {
    height: 89px;
    background-color: #085373;
    cursor: pointer;

    &:hover {
        .notification_secondLine {
            text-decoration: underline;
        }
    }
}

.notification_inner {
    display: flex;
    align-items: center;
    min-height: 62px;
    padding:  13px 12px 14px 13px;
}

.notification_bell {
    margin-right: 15px;
    color: #8eb2be;
}

.notification_text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    .notification_firstLine {
        font-size: 16px;
        line-height: 21px;
        color: #f1f1f2f5;
    }

    .notification_secondLine {
        margin-top: 2px;
        font-size: 14px;
        line-height: 19px;
        color: #f1f1f2bf;

        svg {
            display: inline-flex;
            margin-left: 3px;
            margin-top: 5px;
            vertical-align: top;
        }
    }
}