
.contactGroupContainer {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #131c21;
  height: 100%;
  overflow: hidden;
}

.resizeView {
  display: block;
  overflow:hidden;
  overflow-y:scroll;
}

.sizeSidebar {
  height: calc(100vh - 197px);
}

@media (min-width: 1440px) {
  .sizeSidebar {
    height: calc(100vh - 235px);
  }
}

.sizeNewChat {
  height: calc(100vh - 157px);
}

@media (min-width: 1440px) {
  .sizeNewChat {
    height: calc(100vh - 195px);
  }
}