.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 300;
}

.open {
  animation-name: open;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.close {
  animation-name: close;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes open {
  0% {
    left: -300px;
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes close {
  0% {
    width: 100%;
  }

  100% {
    left: -300px;
    width: 0%;
  }
}