.popup_inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //vertical-align: middle;
  width: 300px;
  height: 500px;
  border-radius: 20px;
  background: #323739;
}

.userInput {
  margin-bottom: 15px;
  height: 38px;
  width: 70%;
  padding-left: 15px;
  border: none;
  //border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
  border-bottom: 2px solid #00af9c;

  background-color: transparent;
  color: #f1f1f2;
  &:focus {
    outline: none;
  }

}

.signupButton {
  height: 38px;
  width: 70%;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;

  background-color: #00af9c;
  color: #f1f1f2;
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #008577;
  }
}


.image {
  //margin-bottom: 10px;
  height: 100px;
  width: 100px;
  //border-radius: 50%;
}

.imageInput {
  position: absolute;
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 50%;
  color: grey;
  background-color: #000000;
  opacity: .0;

  &:hover {
    opacity: 0.4;
  }
}

.line {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  height: 2px;
  background-color: #404040;

}

.text {
  color: #969696;

  a {
    cursor: pointer;
    text-decoration: none;
    color: #00af9c;
    &:hover {
      text-decoration: underline;
    }
  }
}
